---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2N2VYDTT0Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2N2VYDTT0Y');
</script>

{% include base_path %}

<br/>
<h1 style="font-size: 1.5em;">1. Research:</h1>
Click the 'Research' tab above or the <a href="https://haowu-rock.github.io/researches/">link</a> to see my research projects.

<br><br/>
<h1 style="font-size: 1.5em;">2. Technology:</h1>
{% for post in site.portfolio %}
  {% if post.path contains "tech" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<br><br/>
<h1 style="font-size: 1.5em;">3. Music:</h1>
{% for post in site.portfolio %}
  {% if post.path contains "music" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

